# Binaries & Build Output
dist/
dist_electron/
output/
*.exe
*.dll
*.so
*.dylib

# Node Dependencies
node_modules/
package-lock.json

# Local Data & SQLite DBs
*.db
*.db-journal
*.log
host_rsa.key
.secrets/

# OS & IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
Desktop.ini

tools/
.cache/
*.asc
